.idea
.DS_Store
bak/
node_modules/
testgeth/
environments/development/build
environments/production/build
environments/staging/build
environments/test/build
environments/development/contracts
environments/production/contracts
environments/staging/contracts
environments/test/contracts
